{% load markdown_deux_tags %}
{% if object.election.winner_count == object.election.people.count %}
    <b>Uncontested Election</b>
{% elif object.election.people.count >= 1 and not object.election.winner_count == object.election.people.count%}
    <b>Uncontested and Rescheduled Election</b>
{% else  %}
    <b>Rescheduled Election</b>
{% endif %}
<p>
    The poll for {{ object.post.label }} in the {{ object.election.name }}
    {% if object.election.in_past %}was{% else %}has been{% endif %}
    {% if object.replaced_by %}rescheduled{% else %}cancelled{% endif %}.

    {% if not object.replaced_by %}
        <p>This election {% if object.election.in_past %}will{% else %}did{% endif %}
            not take place because <a href="{{ object.ynr_sopn_link }}">no candidates</a> have been
            nominated to stand. A new election to fill the unclaimed seat{{ object.people|pluralize }}
            {% if object.election.in_past %}will be{% else %}was{% endif %}
            held within 35 working days of the original election date.</p>
    {% endif %}

    {% if object.replaced_by %}
        {% if object.election.in_past %}
            It was rescheduled for
        {% else %}
            It will now take place on
        {% endif %}
        <a href="{{ object.replaced_by.get_absolute_url }}">
            {{ object.replaced_by.election.election_date|date:"j F Y" }}
        </a>
    {% endif %}
    {% if object.metadata.cancelled_election.url %}
        <a href="{{ object.metadata.cancelled_election.url }}">Read more</a>
    {% endif %}
</p>
